body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: none;
}

.jeu {
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    text-align: center;
}

#question {
    font-size: 80px;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#solution {
    margin-bottom: 10vh;
}

.good {
    background-color: lightGreen;
}

.bad {
    background-color: tomato;
}

.miss {
    background-color: gold;
}

.underline {
    border-bottom: 5px solid black;
}

.case {
    vertical-align: top;
    font-size: 32px;
    display: inline-block;
    border: 1px solid black;
    margin: 10px 10px 10px 10px;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    user-select: none;
}

.lettre {
    font-size: 24px;
    display: inline-block;
    border: 1px solid black;
    margin: 10px 10px 10px 10px;
    width: 35px;
    height: 35px;
    user-select: none;
}

@media screen and (max-width: 480px) {
    .jeu {
        margin-left: 0;
        margin-right: 0;
        width: 100vw;
        text-align: center;
    }

    #question {
        font-size: 60px;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    .case {
        font-size: 28px;
        margin: 5px 5px 5px 5px;
        min-width: 30px;
        min-height: 30px;
        max-width: 30px;
        max-height: 30px;
    }

    .lettre {
        font-size: 20px;
        margin: 2px 2px 2px 2px;
        width: 30px;
        height: 30px;
        user-select: none;
    }
}
